.authenticate {
  height: 30rem;
  .card__secondary-info {
    display: flex;
    justify-content: space-between;
  }
  .input-container__auth {
    width: 100%;
    border: 1px solid var(--grey);
  }
  .btn {
    text-align: center;
  }
}
